<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
            <div class="col text-end">
                <div ngbDropdown placement="top-end" class="d-inline-block">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="CrearCategoria()">Crear Categoria</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<app-tabla [_dataConfig]="_dataConfig"></app-tabla>
