<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

            <div class="row card-header border-0">
                <div class="col-10">
                    <div class="">
                        <h3 class="mb-0">{{ titleBTN }} Facturas</h3>
                    </div>
                </div>
                <div class="col-2 text-end">
                    <div class="">
                        <button type="button" class="btn btn-success" (click)="submit()">{{ titleBTN }} </button>
                        <a class="dropdown-item" href="javascript:void(0)" routerLink="articulo">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">{{ titleBTN }} Facturas</h3>
                    </div>
                    <div class="col-4 text-right">
                        <a href="#!" class="btn btn-sm btn-primary">Configuración</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <h6 class="heading-small text-muted mb-4">Información Inicial</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Codigo</label>
                                    <ngx-barcode [bc-value]="data.codigo" [bc-display-value]="true"></ngx-barcode>
                                    <input type="text" [(ngModel)]="data.codigo"
                                        class="form-control form-control-alternative" placeholder="" [disabled]="data.id">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Fecha</label>
                                    <input type="datetime" [(ngModel)]="data.fecha"
                                        class="form-control form-control-alternative" placeholder="" [disabled]="data.id">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Tipo de Entrada</label>
                                    <select class="form-control" [(ngModel)]="data.entrada" [disabled]="data.id">
                                        <option value="0">Entrada</option>
                                        <option value="1">Salida</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Descripcion</label>
                                    <textarea rows="4" class="form-control form-control-alternative" [disabled]="data.id"
                                        [(ngModel)]="data.descripcion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-header border-0">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h3 class="mb-0">Información Factura</h3>
                                        </div>
                                        <div>
                                            <label class="form-control-label" for="input-username">Precio Total</label>
                                            <input currencyMask [(ngModel)]="data.monto"
                                                class="form-control form-control-sm" [options]="opcionCurrencys" />
                                        </div>
                                        <div class="col-4 text-right">
                                            <button type="button" class="btn btn-primary" (click)="openArticulo({})" *ngIf="!data.id">Abrir articulos</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <!--<input type="text" [(ngModel)]="datoBusqueda"
                                        class="form-control form-control-alternative" autofocus="autofocus" placeholder="Buscar Productos" id="codigo" (change)="filtroGet()" autocomplete="off" >-->
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Acciónes</th>
                                                <th scope="col" *ngFor="let item of tablet.headers">{{ item }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of tablet.row">
                                                <th scope="row" *ngFor="let keys of tablet.keys">
                                                    <img [src]="item[keys]" *ngIf="keys == 'foto'">
                                                    <span *ngIf="keys != 'color' && keys != 'talla' && keys != 'cantidad'">{{ item[keys] }} </span>
                                                    <div *ngIf="keys == 'color'">
                                                        <select class="form-control"  [(ngModel)]="item.selectColor" (change)="selectColor( item )" [disabled]="data.id">
                                                            <option *ngFor="let row of item.listColor" [value]="row.id">{{ row.color }}</option>
                                                        </select>
                                                    </div>
                                                    <div *ngIf="keys == 'talla' && item.selectColor">
                                                        <select class="form-control"  [(ngModel)]="item.selectTalla" [disabled]="data.id">
                                                            <option [value]="row.id" *ngFor="let row of item.listTalla">{{ row.talla }}</option>
                                                        </select>
                                                    </div>
                                                    <div *ngIf="keys == 'cantidad' && item.selectTalla">
                                                        <input type="number" [(ngModel)]="item.cantidadSelect"
                                                                class="form-control form-control-alternative" autofocus="autofocus" autocomplete="off" [disabled]="data.id">
                                                    </div>
                                                </th>
                                                <th>
                                                    <button class="btn btn-success me-md-2" type="button" (click)="checkseleccionado( item )" [disabled]="data.id">
                                                        <i class="ni ni-fat-remove"></i>
                                                    </button>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>