<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

            <div class="row card-header border-0">
                <div class="col-10">
                    <div class="">
                        <h3 class="mb-0">{{ titleBTN }} Inventario</h3>
                    </div>
                </div>
                <div class="col-2 text-end">
                    <div class="">
                        <button type="button" class="btn btn-success" (click)="submit()">{{ titleBTN }} </button>
                        <a class="dropdown-item" href="javascript:void(0)" routerLink="/inventario">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">{{ titleBTN }} Inventario</h3>
                    </div>
                    <div class="col-4 text-right">
                        <a href="#!" class="btn btn-sm btn-primary">Configuración</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <h6 class="heading-small text-muted mb-4">Información Inicial</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Fecha</label>
                                    <input type="text" [(ngModel)]="data.titulo"
                                        class="form-control form-control-alternative" placeholder="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Titulo</label>
                                    <input type="text" [(ngModel)]="data.nit"
                                        class="form-control form-control-alternative" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h6 class="heading-small text-muted mb-4">Información Inventario</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <ul class="list-group col-12">
                                <li class="list-group-item" *ngFor="let item of listInventario; index as im">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input type="text" [(ngModel)]="item.codigo"
                                                    class="form-control form-control-alternative">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input type="text" [(ngModel)]="item.titulo"
                                                    class="form-control form-control-alternative">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input type="datetime" [(ngModel)]="item.createdAt"
                                                    class="form-control form-control-alternative">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <ul class="list-group col-12">
                                            <li class="list-group-item" *ngFor="let key of item.color; index as i">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <span>{{ i + 1 }} </span>
                                                    </div>
                                                    <div class="col-lg-6">
                                                       Color: <span>{{ key.color }} </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">#</th>
                                                                    <th>Codigo</th>
                                                                    <th scope="col">Talla</th>
                                                                    <th scope="col">Cantidad</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let ml of key.listArticulo; index as l">
                                                                    <th scope="row">{{ l + 1 }}</th>
                                                                    <td> 
                                                                        <ngx-barcode [bc-height]="20" [bc-width]="1" [bc-value]="ml.codigo" [bc-display-value]="true"></ngx-barcode>
                                                                    </td>
                                                                    <td>
                                                                        {{ ml.talla }}
                                                                    </td>
                                                                    <td>
                                                                        {{ ml.cantidad }}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>