<h2 >
    Imprimir Codigos
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-danger me-md-2" type="button" (click)="close()">
            <i class="ni ni-fat-remove"></i>
        </button>
        <button class="btn btn-success me-md-2" type="button" (click)="seleccionado()">
            Seleccionado
        </button>
    </div>
</h2>

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Lista de Articulos</h3>
            </div>
        </div>
        <div class="col-12">
            <div class="container">
                <div class="row">
                  <div class="col-sm" *ngFor="let row of listArtiuclos">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title"></h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>