<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="col-10">
                                <div class="">
                                    <h3 class="mb-0">Lista de Articulos</h3>
                                </div>
                            </div>
                            <div class="col-2 text-end">
                                <div class="" *ngIf="vista == 'inicial'">
                                    <a class="btn btn-danger" href="javascript:void(0)" routerLink="/articulo">Volver</a>
                                    <a class="btn btn-primary" href="javascript:void(0)" (click)="nextCheck()">Siguiente</a>
                                </div>
                                <div class="" *ngIf="vista == 'detalle'">
                                    <a class="btn btn-primary" href="javascript:void(0)" (click)="print()">Imprimir</a>
                                    <a class="btn btn-danger" href="javascript:void(0)" (click)="volverVista()">Volver</a>
                                </div>
                                <div class="" *ngIf="vista == 'two'">
                                    <a class="btn btn-primary" href="javascript:void(0)" (click)="openSelect()">Imprimir</a>
                                    <a class="btn btn-danger" href="javascript:void(0)" (click)="volverVista()">Volver</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="print">
    <div class="col-12" *ngIf="vista == 'inicial'">
        <div class="container">
            <div class="row">
                <div class="col-sm" *ngFor="let row of lisArticles">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ row.titulo }} </h5>
                            <p class="card-text">
                                <ngx-barcode [bc-height]="10" [bc-width]="1" [bc-value]="row.codigo" [bc-display-value]="true"></ngx-barcode>
                            </p>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="row.check">
                                <label class="form-check-label" for="exampleCheck1">Seleccionar </label>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="vista == 'two'">
        <div class="container">
            <div class="row">
                <div class="col-sm" *ngFor="let row of listArtiuclos">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ row['articulo']?.titulo }} </h5>
                            <p class="card-text">
                                <ngx-barcode [bc-height]="10" [bc-width]="1" [bc-value]="row.codigo" [bc-display-value]="true"></ngx-barcode>
                            </p>
                            <input type="checkbox" class="form-check-input" [(ngModel)]="row.check">
                            <!--<a href="javascript:void(0)" class="btn btn-primary"
                                (click)="printCodigo( row )">Imprimir</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="vista == 'detalle'">
        <div class="container">
            <div class="row">
                <div class="col col-lg-2" *ngFor="let row of listSeleccionado">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">
                                <span>provedor: {{ row.vendor }}</span>
                                <ngx-barcode [bc-height]="10" [bc-width]="1" [bc-value]="row.codigo" [bc-display-value]="true">
                                </ngx-barcode>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
