<h2 mat-dialog-title>
    Codigo Seleccionados
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-danger me-md-2" type="button" (click)="close()">
            <i class="ni ni-fat-remove"></i>
        </button>
        <button class="btn btn-success me-md-2" type="button" (click)="seleccionado()">
            Imprimir
        </button>
    </div>
</h2>
<div class="row">
  <div class="col-12">
    <table mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="( column !== 'cantidadCheck' ) && ( column !== 'provedor' )">{{element[column]}} </span>
        <span *ngIf="column === 'cantidadCheck'">
          <input type="number" [(ngModel)]="element.cantidadCheck" class="form-control form-control-alternative" autocomplete="off" >
        </span>
        <span *ngIf="column === 'provedor'">
          <select class="form-control"  [(ngModel)]="element.provedor">
            <option [value]="row.titulo" *ngFor="let row of listVendor">{{ row.titulo }}</option>
          </select>
        </span>
      </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </div>
</div>
