<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="mb-0">{{ _dataConfig.titulo }} </h3>
              </div>
              <div></div>
              <div>
                <a class="btn btn-success" href="javascript:void(0)" (click)="print()">Imprimir</a>
              </div>
            </div>
          </div>
          <div class="table-responsive p-3">
            <div class="row">
              <div class="col-12">
                <div class="form-group mat-elevation-z8 p-3">
                  <label class="form-control-label" for="input-username">Buscador por Codigo</label>
                  <input type="text" [(ngModel)]="txtFilter" class="form-control form-control-alternative"
                      placeholder="Buscar item por codigo" (change)="filterTxt()">
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group mat-elevation-z8 p-3" *ngIf="_dataConfig.returnHTML === 'formfactura/'">
                  <label class="form-control-label" for="input-username">Tipo de factura</label>
                  <mat-select (selectionChange)="filterTxt()" [(ngModel)]="txtTipeFill">
                    <mat-option value="0">
                      Entrada
                    </mat-option>
                    <mat-option value="1">
                      Salida
                    </mat-option>
                    <mat-option value="2">
                      Todos
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group mat-elevation-z8 p-3" *ngIf="( _dataConfig.returnHTML === 'formmoneypayment/') || ( _dataConfig.returnHTML === 'formfactura/' )">
                  <label class="form-control-label" for="input-username">Provedor</label>
                  <mat-select (selectionChange)="filterTxt()" [(ngModel)]="txtSupplier">
                    <mat-option [value]="row.id" *ngFor="let row of listSupplier">
                      {{ row.titulo }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group mat-elevation-z8 p-3" *ngIf="_dataConfig.returnHTML === 'formfactura/'">
                  <div class="d-flex justify-content-between">
                    <div (click)="handleActivateMenu()">
                      <p>Buscar entre Fechas</p>
                    </div>
                    <div></div>
                    <div>
                      <button mat-button color="primary" (click)="handleActivateMenu()">
                        <i *ngIf="!viewDisabled" class="ni ni-bold-down"></i>
                        <i *ngIf="viewDisabled" class="ni ni-bold-up"></i>
                      </button>
                    </div>
                  </div>

                  <span *ngIf="viewDisabled">
                    <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                    </ngb-datepicker>
  
                    <ng-template #t let-date let-focused="focused">
                      <span
                        class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null"
                      >
                        {{ date.day }}
                      </span>
                    </ng-template><br>
                    <button mat-raised-button color="primary" (click)="filterTxt()">Buscar Por Fechas</button>
                  </span>
                </div>
              </div>
              <div class="col-12">
                <div class="example-loading-shade"
                      *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                    Se ha alcanzado el límite de tasa de API. Se restablecerá en un minuto.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12" *ngIf="txtTipeFill == '0'">
              <div class="row">
                <div class="col-12">
                  <h3>Detalles de Facutras</h3>
                </div>
                <div class="col-sm-6 col-6">
                  <h3>Facturas Pendientes</h3>
                  <span>{{ _tools.monedaChange( 3, 2, dataDummary.sumPending )  }} </span>
                </div>
                <div class="col-sm-6 col-6">
                  <h4>Abonados Totales</h4>
                  <span>{{ _tools.monedaChange( 3, 2, dataDummary.paymentsTotal )  }} </span>
                </div>
              </div>
            </div>

            <table mat-table *ngIf="!isLoadingResults"
                  [dataSource]="_dataConfig.tablet.row" multiTemplateDataRows
                  class="mat-elevation-z8" matSort
                  matSortActive="created" matSortDisableClear matSortDirection="desc"
                  (matSortChange)="resetPaging()">
              <ng-container matColumnDef="{{column}}" *ngFor="let column of _dataConfig.tablet.keys">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                  <span *ngIf="column !== 'expireDate'">{{column}}</span>
                  <span *ngIf="column === 'expireDate'">Dias de vencimiento</span>
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="
                  { 'danger': element.danger == true,
                    'medium': element.warning == true,
                    'full': element.full == true
                  }
                " [style.background]="element.colorP"
                >
                  <span *ngIf="( column !='expireDate' ) &&( column !='createdAt' ) && ( column !='updatedAt' ) && ( column !='asentado' ) &&  ( column !='categoria' ) && ( column !='subcategoria' ) && ( column !='provedor' ) && ( column !='entrada' ) && ( column !='monto' )">{{ element[column] }}</span>
                  <span *ngIf="column ==='expireDate'">
                    {{ element.expireDate }}&nbsp; Dias
                  </span>
                  <div *ngIf="column === 'select' " ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">

                    <span *ngIf="_dataConfig.returnHTML !== 'check'">
                      <button type="button" class="btn btn-primary" (click)="openVer( element )">
                        <i class="ni ni-check-bold"></i>
                      </button>
                      <button type="button" class="btn btn-danger" (click)="deleteItem( element )" *ngIf="( _dataConfig.returnHTML !== 'formlogs/' ) || _dataConfig.returnHTML !== 'formmoneypayment/'">
                        <i class="ni ni-fat-remove"></i>
                      </button>
                    </span>
                    <span *ngIf="_dataConfig.returnHTML === 'check'">
                      <input type="checkbox" class="form-check-input" [(ngModel)]="element.check">
                      <label class="form-check-label" for="exampleCheck1">Seleccionar</label>
                    </span>
                  </div>
                  <img [src]="element[column]" *ngIf="column == 'foto'">

                  <span *ngIf="column =='monto'">
                    {{ _tools.monedaChange( 3, 2, element[column] ) }}
                  </span>
                  <span *ngIf="column == 'asentado'">
                    {{ element[column] == true ? 'Asentada' : 'Guardada' }}
                  </span>
                  <span *ngIf="( column =='categoria' ) || ( column =='subcategoria' ) || ( column =='provedor' )">{{ element[column]?.titulo }}</span>
                  <span *ngIf="( column =='createdAt' ) || ( column =='updatedAt' )"> {{ element[column] | date:'medium'}} </span>
                  <span *ngIf="column =='entrada'">{{ element[column] == 0 ?"Entrada":"Salida" }}</span>
                </td>

              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="_dataConfig.tablet.keys.length">
                  <div class="example-element-detail p-3"
                      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" *ngIf="_dataConfig.returnHTML === 'formarticulo/'">
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let row of element.listColor">
                          <div class="d-flex justify-content-between">
                            <div><span>Color: {{ row.color }} </span></div>
                            <div></div>
                            <div><label>Cantidad: {{ row.amount }} </label></div>
                          </div>
                            <table class="table align-items-center table-flush">
                              <thead class="thead-light">
                                <tr>
                                  <th scope="col" *ngFor="let item of header2">{{ item }}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of row.listTalla" [ngClass]="{'full': item.cantidad >= 10, 'medium': item.cantidad <= 10, 'danger': item.cantidad <= 5}">
                                  <th scope="row" *ngFor="let keys of keys2">
                                    <span>{{ item[keys] }}</span>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                        </li>
                      </ul>
                  </div>
                  <div class="example-element-detail p-3" style="width: 100%;"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" *ngIf="_dataConfig.returnHTML === 'formfactura/'">
                    <div class="row" style="width: 100%;">
                      <div class="col-sm-3 col-6" *ngIf="element.codigo">
                        <label for="">Codigo:&nbsp;</label>
                        <span>{{ element.codigo }} </span>
                      </div>
                      <div class="col-sm-3 col-6" *ngIf="element.nombreCliente">
                        <label for="">Nombre Cliente:&nbsp;</label>
                        <span>{{ element.nombreCliente }} </span>
                      </div>
                      <div class="col-sm-3 col-6" *ngIf="element.fecha">
                        <label for="">Fecha:&nbsp;</label>
                        <span>{{ element?.fecha }} </span>
                      </div>
                      <div class="col-sm-3 col-6" *ngIf="element.monto">
                        <label for="">Monto:&nbsp;</label>
                        <span>{{ _tools.monedaChange( 3,2, element.monto ) }} </span>
                      </div>
                      <div class="col-sm-3 col-6" *ngIf="element.passMoney">
                        <label for="">Abonos ala factura:&nbsp;</label>
                        <span>{{ _tools.monedaChange( 3,2, element.passMoney ) }} </span>
                      </div>
                      <div class="col-sm-3 col-6" *ngIf="element.entrada">
                        <label for="">Tipo Factura:&nbsp;</label>
                        <span>{{ element.entrada == 0 ? 'Entrada' : 'salida' }} </span>
                      </div>
                      <div class="col-sm-3 col-6" *ngIf="element.provedor">
                        <label for="">Provedor:&nbsp;</label>
                        <span>{{ element.provedor?.titulo }} </span>
                      </div>
                      <div class="col-sm-3 col-6" *ngIf="element.estado">
                        <label for="">Estado:&nbsp;</label>
                        <span>{{ element.estado == 0 ? 'Activo' : 'Asentado' }} </span>
                      </div>
                      <div class="col-sm-3 col-6" *ngIf="element.tipoFactura">
                        <label for="">Tipo cobro:&nbsp;</label>
                        <span>{{ element.tipoFactura == 0 ? 'permitido': 'normal' }} </span>
                      </div>
                      <div class="col-sm-3 col-6" *ngIf="element.fechaasentado">
                        <label for="">Fecha Asentado:&nbsp;</label>
                        <span>{{ element.fechaasentado }} </span>
                      </div>
                      <div class="col-sm-3 col-6" *ngIf="element.expiration">
                        <label for="">Fecha vencimiento:&nbsp;</label>
                        <span>{{ element.expiration }} </span>
                      </div>
                      <div class="col-12" *ngIf="element.descripcion">
                        <label for="">Descripcion:&nbsp;</label>
                        <span>{{ element.descripcion }} </span>
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="_dataConfig.tablet.keys"></tr>
              <tr mat-row *matRowDef="let element; columns: _dataConfig.tablet.keys;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element"
                  (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              </table>
          </div>
          <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent($event)"></mat-paginator>
        </div>
      </div>
    </div>
</div>
