<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="mb-0">{{ _dataConfig.titulo }} </h3>
              </div>
              <div></div>
              <div>
                <a class="btn btn-success" href="javascript:void(0)" (click)="print()">Imprimir</a>
              </div>
            </div>
          </div>
          <div class="table-responsive p-3">
            <div class="form-group">
                <label class="form-control-label" for="input-username">Buscador por Codigo</label>
                <input type="text" [(ngModel)]="txtFilter" class="form-control form-control-alternative"
                    placeholder="Buscar item por codigo" (change)="filterTxt()">
            </div>
            <div class="form-group" *ngIf="_dataConfig.returnHTML === 'formfactura/'">
              <label class="form-control-label" for="input-username">Tipo de factura</label>
              <mat-select (selectionChange)="filterTxt()" [(ngModel)]="txtTipeFill">
                <mat-option value="0">
                  Entrada
                </mat-option>
                <mat-option value="1">
                  Salida
                </mat-option>
                <mat-option value="2">
                  Todos
                </mat-option>
              </mat-select>
            </div>
            <div class="example-loading-shade"
                  *ngIf="isLoadingResults || isRateLimitReached">
              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Se ha alcanzado el límite de tasa de API. Se restablecerá en un minuto.
              </div>
            </div>
            <table mat-table *ngIf="!isLoadingResults"
                  [dataSource]="_dataConfig.tablet.row" multiTemplateDataRows
                  class="mat-elevation-z8" matSort
                  matSortActive="created" matSortDisableClear matSortDirection="desc"
                  (matSortChange)="resetPaging()">
              <ng-container matColumnDef="{{column}}" *ngFor="let column of _dataConfig.tablet.keys">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> {{column}} </th>
                <td mat-cell *matCellDef="let element" [ngClass]="
                  { 'danger': element.danger == true,
                    'medium': element.warning == true,
                    'full': element.full == true
                  }
                ">
                  <span *ngIf="( column !='createdAt' ) && ( column !='updatedAt' ) && ( column !='asentado' ) &&  ( column !='categoria' ) && ( column !='subcategoria' ) && ( column !='provedor' ) && ( column !='entrada' ) && ( column !='monto' )">{{ element[column] }}</span>
                  <div *ngIf="column === 'select' " ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">

                    <span *ngIf="_dataConfig.returnHTML !== 'check'">
                      <button type="button" class="btn btn-primary" (click)="openVer( element )">
                        <i class="ni ni-check-bold"></i>
                      </button>
                      <button type="button" class="btn btn-danger" (click)="deleteItem( element )" *ngIf="( _dataConfig.returnHTML !== 'formlogs/' ) || _dataConfig.returnHTML !== 'formmoneypayment/'">
                        <i class="ni ni-fat-remove"></i>
                      </button>
                    </span>
                    <span *ngIf="_dataConfig.returnHTML === 'check'">
                      <input type="checkbox" class="form-check-input" [(ngModel)]="element.check">
                      <label class="form-check-label" for="exampleCheck1">Seleccionar</label>
                    </span>
                  </div>
                  <img [src]="element[column]" *ngIf="column == 'foto'">

                  <span *ngIf="column =='monto'">
                    {{ _tools.monedaChange( 3, 2, element[column] ) }}
                  </span>
                  <span *ngIf="column == 'asentado'">
                    {{ element[column] == true ? 'Asentada' : 'Guardada' }}
                  </span>
                  <span *ngIf="( column =='categoria' ) || ( column =='subcategoria' ) || ( column =='provedor' )">{{ element[column]?.titulo }}</span>
                  <span *ngIf="( column =='createdAt' ) || ( column =='updatedAt' )"> {{ element[column] | date:'medium'}} </span>
                  <span *ngIf="column =='entrada'">{{ element[column] == 0 ?"Entrada":"Salida" }}</span>
                </td>

              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="_dataConfig.tablet.keys.length">
                  <div class="example-element-detail"
                      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" *ngIf="_dataConfig.returnHTML === 'formarticulo/'">
                      <ul class="list-group">
                        <li class="list-group-item" *ngFor="let row of element.listColor">
                          <div class="d-flex justify-content-between">
                            <div><span>Color: {{ row.color }} </span></div>
                            <div></div>
                            <div><label>Cantidad: {{ row.amount }} </label></div>
                          </div>
                            <table class="table align-items-center table-flush">
                              <thead class="thead-light">
                                <tr>
                                  <th scope="col" *ngFor="let item of header2">{{ item }}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of row.listTalla" [ngClass]="{'full': item.cantidad >= 10, 'medium': item.cantidad <= 10, 'danger': item.cantidad <= 5}">
                                  <th scope="row" *ngFor="let keys of keys2">
                                    <span>{{ item[keys] }}</span>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                        </li>
                      </ul>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="_dataConfig.tablet.keys"></tr>
              <tr mat-row *matRowDef="let element; columns: _dataConfig.tablet.keys;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element"
                  (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              </table>
          </div>
          <mat-paginator [length]="resultsLength" [pageSize]="10"  (page)="pageEvent($event)"></mat-paginator>
        </div>
      </div>
    </div>
</div>
